*{margin: 0;padding: 0;}
img{border:0;}
ul,li{list-style: none;}
body{text-align: center;}
a{text-decoration: none;}


#wapper{width: 962px;height: 1385px;padding: 0 15px;margin: 0 auto;}
#header{width: 960px;height: 114px;margin: 0 1px -3px 1px;position: relative;}
#logo{display: block;width: 87px;height: 78px;background-image: url("images/2.jpg");background-repeat: no-repeat;position: absolute;left: 0px;top: 22px;}
#ul1{width: 396px;height: 16px;position: absolute;left: 128px;top: 72px;}
#ul2{width: 378px;height: 22px;position: absolute;left: 585px;top: 69px;}
.ul2li{width: 126px;height: 22px;float: left;}
.ul2a{display: block;width: 122px;height: 22px;background-image: url("images/6.png");background-repeat: no-repeat;}
#ul2a1{background-position: 0 0;}
#ul2a1:hover{background-position: 0 -32px;}

#ul2a2{background-position: 0 -74px;}
#ul2a2:hover{background-position: 0 -106px;}

#ul2a3{background-position: 0 -148px;}
#ul2a3:hover{background-position: 0 -180px;}

#ul3{width: 577px;height: 18px;position: absolute;left:386px;top: 20px;}





#content{width: 960px;height: 485px;border: 1px solid #cfd7d9;border-top: 0px;background-image: url("images/1.jpg");position: relative;z-index: 10;overflow: hidden;}
#selector{width: 924px;height: 482px;margin:0 18px;position:absolute;left:0px;top:-446px;z-index: 20;}
#selectorcontent{width: 904px;height: 436px;padding:10px 10px 0 10px; background-color: #fff;}
#selectorcontentMain{width: 904px;height: 436px;position: relative;overflow: hidden;}
#maskinner{width: 924px;height: 404px;background-color: transparent;}
.innerlifirst{width: 134px;height: 81px;padding: 20px 20px 0 0;background-image: url("images/4.png");background-repeat: no-repeat;float: left;position: relative;}
.maskinnerli{width: 134px;height: 81px;padding: 20px 20px 0 0;background-image: url("images/3.png");background-repeat: no-repeat;float: left;position: relative;}
.innerlilast{width: 134px;height: 81px;padding-top: 20px;margin-right: 20px; background-image: url("images/3.png");background-repeat: no-repeat;float: left;position: relative;}
.maskinnera{display: block;width: 120px;height: 81px;position: absolute;left: 0px;top:20px;background-image: url("images/5.png");background-repeat:no-repeat;}
#a1{background-position: 0 0;}
#a1:hover{background-position:0 -101px;}
#a2{background-position: -140px 0;}
#a2:hover{background-position:-140px -101px;}
#a3{background-position: -280px 0;}
#a3:hover{background-position:-280px -101px;}
#a4{background-position: -420px 0;}
#a4:hover{background-position:-420px -101px;}
#a5{background-position: -560px 0;}
#a5:hover{background-position:-560px -101px;}
#a6{background-position: -700px 0;}
#a6:hover{background-position:-700px -101px;}
#a7{background-position: -840px 0;}
#a7:hover{background-position:-840px -101px;}
#a8{background-position: -980px 0;}
#a8:hover{background-position:-980px -101px;}
#a9{background-position: -1120px 0;}
#a9:hover{background-position:-1120px -101px;}
#a10{background-position: -1260px 0;}
#a10:hover{background-position:-1260px -101px;}
#a11{background-position: -1400px 0;}
#a11:hover{background-position:-1400px -101px;}
#a12{background-position: -1540px 0;}
#a12:hover{background-position:-1540px -101px;}
#a13{background-position: -1680px 0;}
#a13:hover{background-position:-1680px -101px;}
#a14{background-position: -1820px 0;}
#a14:hover{background-position:-1820px -101px;}
#a15{background-position: -1960px 0;}
#a15:hover{background-position:-1960px -101px;}
#a16{background-position: -2100px 0;}
#a16:hover{background-position:-2100px -101px;}
#a17{background-position: -2240px 0;}
#a17:hover{background-position:-2240px -101px;}
#a18{background-position: -2380px 0;}
#a18:hover{background-position:-2380px -101px;}
#a19{background-position: -2520px 0;}
#a19:hover{background-position:-2520px -101px;}
#a20{background-position: -2660px 0;}
#a20:hover{background-position:-2660px -101px;}
#a21{background-position: -2800px 0;}
#a21:hover{background-position:-2800px -101px;}
#a22{background-position: -2940px 0;}
#a22:hover{background-position:-2940px -101px;}
#a23{background-position: -3080px 0;}
#a23:hover{background-position:-3080px -101px;}
#a24{background-position: -3220px 0;}
#a24:hover{background-position:-3220px -101px;}
#a25{background-position: -3360px 0;}
#a25:hover{background-position:-3360px -101px;}











#first1{background-position: 0 0;}
#first2{background-position: -200px 0;}
#first3{background-position: -400px 0;}
#first4{background-position: -600px 0;}
#first5{background-position: -800px 0;}




#selectorbtn{width: 190px;height: 36px;margin: 0 auto;background-color: transparent;}
#selectorbtna{display: block;width: 190px;height: 36px;background-image: url("images/2.png");background-position: 0 0;cursor: pointer;}




#yuyue{display: block;width: 143px;height: 23px;background-image: url("images/1.png");position: absolute;left: 25px;top:64px;}
#yuyue:hover{background-position: 0 -44px;}
#contentul{width: 960px;height: 124px;position: absolute;left: 0px;top:356px; }
.contentli{width: 158px;height: 80px;padding:3px 3px;position: absolute;top:32px;background-color: #fff;z-index: 15;}
#li1{left: 23px;}
#li2{left: 209px;}
#li3{left: 395px;}
#li4{left: 581px;}
#li5{left: 767px;}
.contenta{display: block;background-repeat: no-repeat;width: 100%;height: 100%;background-position: 0 0;}
.contenta img{width: 100%;height: 100%;}


#footer{width: 962px;height: 748px;margin-top: 12px;background-color: transparent;text-align: left;}
#footermain{width: 972px;height: 723px;margin: 40px 0 -20px 0;padding: 15px 0 30px 20px;position: relative;left: -15px;top: 0px;background-color: #eaeeed;}
#none{width: 972px;height: 45px;}
#sectionlinks{width: 972px;height: 615px;}
#footerul{width: 962px;height: 0px;margin-top: 48px;}